
# Package Files #
*.jar
*.war
*.ear

*.iml
*.idea
/ProyectoJava/JavaApplication13/nbproject/private/
/ProyectoJava/LP2ClinicaRRHHController/nbproject/private/
/ProyectoJava/LP2ClinicaGestionMedicaController/nbproject/private/
/ProyectoJava/LP2ClinicaDBManager/nbproject/private/
